@use "@/shared/variables";

.magic-ball {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__brief {
    position: absolute;
    text-align: center;
    top: 1rem;
    font-size: 1.5rem;
    text-shadow: variables.$pink-text-shadow;
  }

  &__container {
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #222222, #000000);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 -10px 20px rgba(0, 0, 0, 0.8),
      inset 0 10px 20px rgba(255, 255, 255, 0.1);
    transform-style: preserve-3d;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 55%;
      height: 55%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: all 1s ease-in;
    }

    &.active::before {
      content: "";
      background: radial-gradient(circle at 90% 90%, #1c1c1c, #121212);
      border: 10px solid #171717;
      box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
    }

    &.inactive::before {
      content: "8";
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      font-size: 10rem;
    }
  }

  &__triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 45%;
    height: 35%;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.2));
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s linear;

    &.inactive {
      visibility: hidden;
    }
  }

  &__answer {
    width: 50%;
    height: 50%;
    text-align: center;
    color: variables.$white-text-color;
    font-size: clamp(0.5rem, 0.75rem, 1rem);
    text-shadow: variables.$pink-text-shadow;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-5vw, -2vw) rotate(-5deg);
  }
  20% {
    transform: translate(4vw, 1.5vw) rotate(3deg);
  }
  30% {
    transform: translate(-3vw, -1vw) rotate(-2deg);
  }
  40% {
    transform: translate(3.5vw, 2vw) rotate(2.5deg);
  }
  50% {
    transform: translate(-2vw, -1.5vw) rotate(-1.5deg);
  }
  60% {
    transform: translate(2.5vw, 1vw) rotate(1.5deg);
  }
  70% {
    transform: translate(-1.5vw, -1vw) rotate(-1deg);
  }
  80% {
    transform: translate(1.5vw, 0.5vw) rotate(1deg);
  }
  90% {
    transform: translate(-0.5vw, -0.5vw) rotate(-0.5deg);
  }
}

.shake {
  animation: shake 1.2s ease-out;
}
